<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

    <title>Forgot Password</title>
</head>
<body>
<h2>Forgot Password</h2>
<form th:action="@{/users/forgotPassword}" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    <p th:if="${message}" th:text="${message}"></p>
    <input type="hidden" name="csrfToken" th:value="${session.csrfToken}"/>
    <input type="submit" value="Submit">
</form>
</body>
</html>
