<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

    <title>Register</title>
</head>
<body>
<h2>Register</h2>
<form th:action="@{/users/register}" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required pattern=".{2,30}" title="Username must be between 2 and 30 characters"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+\\-=\\[\\]{};':&quot;\\\\|,.<>/?]).{8,}" title="Must contain at least one number, one special character and one uppercase and lowercase letter, and at least 8 or more characters"><br>
    <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    <input type="submit" value="Register">
</form>
</body>
</html>
