<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

    <title>Reset Password</title>
</head>
<body>
<h2>Reset Password</h2>
<form th:action="@{/users/resetPassword}" method="post">
    <input type="hidden" id="token" name="token" th:value="${token}">
    <input type="hidden" name="csrfToken" th:value="${session.csrfToken}"/>
    <label for="password">New Password:</label><br>
    <input type="password" id="password" name="password" required pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+\\-=\\[\\]{};':&quot;\\\\|,.<>/?]).{8,}" title="Must contain at least one number, one special character and one uppercase and lowercase letter, and at least 8 or more characters"><br>
    <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    <input type="submit" value="Reset Password">
</form>
</body>
</html>
